<?xml version="1.0"?>
<!--
/**
 * @author Enzo Silva <enzovaughan@gmail.com>
 * @link   https://github.com/enzosilva
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Loggers -->
    <type name="Atwix\Customer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Atwix\Customer\Logger\CustomerRegistrationLogger">
        <arguments>
            <argument name="name" xsi:type="string">atwix-customer-registration</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Atwix\Customer\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Plugins -->
    <type name="Magento\Customer\Api\Data\CustomerInterface">
        <plugin name="atwix_customer_data_customer_interface"
                type="Atwix\Customer\Plugin\Magento\Customer\Api\Data\CustomerInterface"
                sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="atwix_customer_account_management_create_account"
                type="Atwix\Customer\Plugin\Magento\Customer\Api\AccountManagementInterface"
                sortOrder="1"/>
    </type>
</config>
